<div style="text-align: left;">

    <!-- Dialog de Adição e Edição da Item -->
    <p-dialog header="{{'cadastro.step-gestao' | transloco}}" [(visible)]="displayAdicionar" [modal]="true"
        [style]="{width: '50vw'}" [baseZIndex]="10000" [formGroup]="cadastroForm">

        <div class="p-col-12" style="display: flex;">
            <div class="p-col-6">
                <label for="usuarioRede">{{'cadastro.user' | transloco}}</label>
                <input id="usuarioRede" type="text" pInputText formControlName="usuarioRede" maxlength="30"
                    minlength="4" placeholder="{{'cadastro.user' | transloco}}" required (blur)="getUsuarioAd()">
            </div>

            <div class="p-col-6">
                <label for="perfil">{{'cadastro.authorization' | transloco}}</label>
                <p-dropdown id="perfil" [options]="perfis" formControlName="perfil"
                    (onChange)="onChangePerfil($event.value)" [style]="{'text-align':'left', 'width': '100%'}"
                    placeholder="{{'cadastro.authorization' | transloco}}" required></p-dropdown>
            </div>

            <!-- <div *ngIf="isEdicaoUsuario" id="usuario" pInputText style="opacity: 0.5; text-align: left;">
            {{usuarioId? usuarioId : ''}}
        </div> -->
        </div>

        <div class="p-col-12" style="display: flex;">
            <div class="p-col-6" *ngIf="showDiretor">
                <label for="diretor">{{'cadastro.associate-director' | transloco}}</label>
                <p-dropdown id="diretor" [options]="diretores" formControlName="diretor"
                    (onChange)="onChangeDiretor($event.value)" [style]="{'text-align':'left', 'width': '100%'}"
                    placeholder="{{'cadastro.associate-director' | transloco}}"></p-dropdown>
            </div>

            <div class="p-col-6">
                <label for="cargo">{{'cadastro.cargo' | transloco}}</label>
                <input id="cargo" type="text" pInputText formControlName="cargo" maxlength="30" minlength="4"
                    placeholder="{{'cadastro.cargo' | transloco}}" disabled required>
            </div>
        </div>

        <div class="p-col-12" style="display: flex;">
            <div class="p-col-12">
                <label for="nome">{{'cadastro.name' | transloco}}</label>
                <input id="nome" type="text" pInputText formControlName="nome"
                    placeholder="{{'cadastro.name' | transloco}}" disabled required>
            </div>
        </div>

        <div class="p-col-12" style="display: flex;">
            <div class="p-col-6">
                <label for="celula">{{'cadastro.celula' | transloco}}</label>
                <input id="celula" type="text" pInputText formControlName="celula"
                    placeholder="{{'cadastro.celula' | transloco}}" disabled required>
            </div>

            <div class="p-col-6">
                <label for="matricula">{{'cadastro.matricula' | transloco}}</label>
                <input id="matricula" type="text" pInputText formControlName="matricula"
                    placeholder="{{'cadastro.matricula' | transloco}}" disabled required>
            </div>
        </div>

        <b>{{cadastroForm.value | json}}</b>

        <div class="p-col-12">
            <div style="display: flex;">
                <div class="p-col-12">
                    <div style="text-align: end;">
                        <button style="margin-right: 10px;" pButton class="btn-secondary" type="button"
                            label="{{'cadastro.cancel-button' | transloco}}" icon="pi pi-times" (click)="cancelar()"
                            pTooltip="{{'cadastro.cancel-button' | transloco}}" tooltipPosition="bottom"></button>

                        <button pButton type="button" label="{{'cadastro.add-label-user' | transloco}}"
                            icon="pi pi-check" (click)="salvar()" [disabled]="!cadastroForm.valid"
                            *ngIf="!isEditar && !isLoadingButton" pTooltip="{{'cadastro.add-label-user' | transloco}}"
                            tooltipPosition="bottom"></button>

                        <button pButton type="button" label="{{'cadastro.edit-label-user' | transloco}}"
                            icon="pi pi-check" (click)="editar()" [disabled]="!cadastroForm.valid"
                            *ngIf="isEditar && !isLoadingButton" pTooltip="{{'cadastro.edit-label-user' | transloco}}"
                            tooltipPosition="bottom"></button>

                        <button pButton type="button" icon="pi pi-spin pi-spinner" *ngIf="isLoadingButton"></button>
                    </div>
                </div>
            </div>
        </div>

    </p-dialog>

    <!-- Dialog de Exclusão do Item -->
    <p-dialog header="{{'cadastro.step-gestao' | transloco}}" [(visible)]="displayExcluir" [modal]="true"
        [style]="{width: '30vw'}" [baseZIndex]="10000">

        <p style="margin: 0;">{{'cadastro.delete-label-alert-user' | transloco}} - <b>{{itemNome}}</b></p>

        <div class="p-col-12">
            <div style="display: flex;">
                <div class="p-col-12">
                    <div style="text-align: end;">
                        <button style="margin-right: 10px;" pButton class="btn-secondary" type="button"
                            label="{{'cadastro.cancel-button' | transloco}}" icon="pi pi-times"
                            (click)="cancelarExcluir()" pTooltip="{{'cadastro.cancel-button' | transloco}}"
                            tooltipPosition="bottom"></button>

                        <button pButton type="button" label="{{'cadastro.delete-label-user' | transloco}}"
                            icon="pi pi-check" (click)="excluir()"
                            pTooltip="{{'cadastro.delete-label-user' | transloco}}" tooltipPosition="bottom"></button>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>

</div>