<div class="bacground-card">
  <br>
  <h1>{{'cards.welcome' | transloco}}</h1>
  <br>

  <div class="p-col-12" style="display: flex; flex-wrap: wrap;">

    <!-- item -->
    <div class="p-col-6">
      <div class="card-chart">
        <div class="card-body-chart">
          <i class="pi pi-globe icones"></i>
          <h2 class="legend-chart1">{{'cards.item-diretor' | transloco}}</h2>
          <p class="legend-chart">{{'cards.item-diretor' | transloco}}</p>
          <p class="legend-chart">{{'cards.item-diretor' | transloco}}
            <strong>{{'cards.item-diretor' | transloco}}</strong>
            {{'cards.item-diretor' | transloco}}.
          </p>
          <button pButton type="button" label="{{'cards.item-diretor' | transloco}}" icon="pi pi-angle-right"
            (click)="eventAprovacao()" pTooltip="{{'cards.item-diretor' | transloco}}"
            tooltipPosition="bottom"></button>
        </div>
      </div>
      <br>
    </div>

    <!-- item -->
    <div class="p-col-6">
      <div class="card-chart">
        <div class="card-body-chart">
          <i class="pi pi-globe icones"></i>
          <h2 class="legend-chart1">{{'cards.item-gestor' | transloco}}</h2>
          <p class="legend-chart">{{'cards.item-gestor' | transloco}}</p>
          <p class="legend-chart">{{'cards.item-gestor' | transloco}}
            <strong>{{'cards.item-gestor' | transloco}}</strong>
            {{'cards.item-gestor' | transloco}}.
          </p>
          <button pButton type="button" label="{{'cards.item-gestor' | transloco}}" icon="pi pi-angle-right"
            (click)="eventGestor()" pTooltip="{{'cards.item-gestor' | transloco}}" tooltipPosition="bottom"></button>
        </div>
      </div>
      <br>
    </div>

    <!-- item -->
    <div class="p-col-6">
      <div class="card-chart">
        <div class="card-body-chart">
          <i class="pi pi-globe icones"></i>
          <h2 class="legend-chart1">{{'cards.item-analista' | transloco}}</h2>
          <p class="legend-chart">{{'cards.item-analista' | transloco}}</p>
          <p class="legend-chart">{{'cards.item-analista' | transloco}}
            <strong>{{'cards.item-analista' | transloco}}</strong>
            {{'cards.item-analista' | transloco}}.
          </p>
          <button pButton type="button" label="{{'cards.item-analista' | transloco}}" icon="pi pi-angle-right"
            (click)="eventAnalista()" pTooltip="{{'cards.item-analista' | transloco}}"
            tooltipPosition="bottom"></button>
        </div>
      </div>
      <br>
    </div>

    <!-- item -->
    <div class="p-col-6">
      <div class="card-chart">
        <div class="card-body-chart">
          <i class="pi pi-globe icones"></i>
          <h2 class="legend-chart1">{{'cards.item-gestao-usuario' | transloco}}</h2>
          <p class="legend-chart">{{'cards.item-gestao-usuario' | transloco}}</p>
          <p class="legend-chart">{{'cards.item-gestao-usuario' | transloco}}
            <strong>{{'cards.item-gestao-usuario' | transloco}}</strong>
            {{'cards.item-gestao-usuario' | transloco}}.
          </p>
          <button pButton type="button" label="{{'cards.item-gestao-usuario' | transloco}}" icon="pi pi-angle-right"
            (click)="eventCadastro()" pTooltip="{{'cards.item-gestao-usuario' | transloco}}"
            tooltipPosition="bottom" ></button>
        </div>
      </div>
      <br>
    </div>

  </div>
</div>
