<div class="card">
    <p-tabView>
        <p-tabPanel header="{{'gestor-aprovacao.step-vaga' | transloco}}">
            <app-tabela></app-tabela>
        </p-tabPanel>
        <p-tabPanel header="{{'gestor-aprovacao.step-analise' | transloco}}">
            <app-tabela></app-tabela>
        </p-tabPanel>
        <p-tabPanel header="{{'gestor-aprovacao.step-espera' | transloco}}">
            <app-tabela></app-tabela>
        </p-tabPanel>
        <p-tabPanel header="{{'gestor-aprovacao.step-preparacao' | transloco}}">
            <app-tabela></app-tabela>
        </p-tabPanel>
        <p-tabPanel header="{{'gestor-aprovacao.step-envio' | transloco}}">
            <app-tabela></app-tabela>
        </p-tabPanel>
        <p-tabPanel header="{{'gestor-aprovacao.step-entregue' | transloco}}">
            <app-tabela></app-tabela>
        </p-tabPanel>
    </p-tabView>
</div>